scripts=["

    # Language reference can be found here : https://sling.apache.org/documentation/bundles/repository-initialization.html#the-repoinit-repository-initialization-language

    create service user eventproxy-service with forced path system/cq:services/AdobeIOEvents

    set principal ACL for eventproxy-service
        allow jcr:read,rep:write on home(eventproxy-service)
        allow jcr:read on /content
        allow jcr:read on /var/eventproxy
        allow rep:write on /var/eventproxy
    end

    create path /var/eventproxy/(nt:unstructured mixin rep:AccessControllable)

"]
