aio.event.code="osgi_ping"
aio.event.label="osgi_ping"
aio.event.description="osgi ping event"
aio.xdm.event.type="com.adobe.xdm.event.OsgiEmittedEvent"
osgi.event.handler.type="com.adobe.io.event.osgi.eventhandler.OsgiEventHandler"
osgi.topic="aio/adobe/event/ping"
osgi.filter=""
osgi.jcr.path.filter=""
