scripts=["
    # Language reference can be found here : https://sling.apache.org/documentation/bundles/repository-initialization.html#the-repoinit-repository-initialization-language

    create service user aio_service_user with path system/aio_service

    set ACL for aio_service_user
        allow jcr:read on /content
    end
"]
