name: Snapshot Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy-snapshot:
    runs-on: ubuntu-latest
    if: github.repository == 'adobe/aio-lib-java' && github.ref == 'refs/heads/main'

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 11
          cache: maven
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_CENTRAL_TOKEN

      - name: AEM6.5 Build
        run: mvn clean deploy -DskipTests -Paem65deps,aem65,release -Dgpg.signer=bc
        env:
          MAVEN_USERNAME: ${{ secrets.AIO_MAVEN_USER_NAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.AIO_MAVEN_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          MAVEN_GPG_KEY: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}

      - name: AEMaaCS Build
        run: mvn clean deploy -PaemaacsDeps,aemaacs,release,attach-javadoc,attach-source -Dgpg.signer=bc
        env:
          MAVEN_USERNAME: ${{ secrets.AIO_MAVEN_USER_NAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.AIO_MAVEN_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          MAVEN_GPG_KEY: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
          
      - name: Main Build
        run: mvn clean deploy -DskipTests -Prelease -Dgpg.signer=bc
        env:
          MAVEN_USERNAME: ${{ secrets.AIO_MAVEN_USER_NAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.AIO_MAVEN_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          MAVEN_GPG_KEY: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}

